html {
-webkit-text-size-adjust: none;
}

body {
    position:fixed;
    overflow:hidden;
    background: black;
    color: white;

}


.main {
    position:fixed;
    overflow:hidden;
    background: grey;

    width: 100%;
    height: 100%;
}