html {
-webkit-text-size-adjust: none;
}

body {
    padding: 0;
    margin: 0;
    
    position:fixed;
    overflow:hidden;
    color: white;

    font-size: 22px;

    font-family:  Courier New, monospace;

}


.main {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: fixed;
    background: repeating-radial-gradient(circle, rgba(165,112,184,.5), rgba(165,112,184,.5) 10px, rgba(54,108,132,.5) 10px, rgba(54,108,132,.5) 20px);

}

.bgimage {
     width: 100%;
     height: 100%;
     overflow: hidden;
     position: fixed;
     background: repeating-radial-gradient(circle, rgba(165,112,184,.7), rgba(165,112,184,.7) 10px, rgba(54,108,132,.7) 10px, rgba(54,108,132,.7) 20px);
}

.center {
    margin: 0 auto;
    color: darkslategrey;
    width: 350px;
    
}


.page > div {
    background: rgba(0,0,0,.5);
    cursor: pointer;
    margin: 10px;
    padding: 10px;

}

.page .href {
    background: rgba(255,255,255,.1);
    cursor: pointer;
    margin: 10px;
    padding: 0;

}

.href div  {
    display: inline-block;
    background: deeppink;
    padding: 10px;
    width: auto;
}


#back {
    background: transparent;
}

#answer {
    cursor: pointer;
}

#ans {
    padding: 10px;
    background: deeppink;
    text-align: center;

}



.href[data-page="gurme"]  {
        background: url("gurme.jpg") no-repeat center center fixed;
        background-size: cover;
}

.href[data-page="g420"]  {
        background: url("g420.jpg") no-repeat center center fixed;
        background-size: cover;
}
.href[data-page="coin"]  {
        background: url("coin.jpg") no-repeat center center fixed;
        background-size: cover;
}
.href[data-page="games"]  {
        background: url("games.jpg") no-repeat center center fixed;
        background-size: cover;
}
.href[data-page="desteny"]  {
        background: url("desteny.jpg") no-repeat center center fixed;
        background-size: cover;
}